body{
    background-color: black;

}
.text{
    color: darkred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.s{
    color: darkred;
    text-align:center;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.poster{
    border: 5px solid darkred;
    width: 100%;
    
}
